h1 {
    color: rgb(181, 196, 240);
}


img {
    width: 400px;
}

#thirdDiv {
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 5px solid black;
    background-color: rgb(3, 76, 105);
}

#spanId {
    font-size: 18px;
    margin: 50px;
}